@model BookingViewModel

<form id="BookingModel">
	<input type="hidden" id="SegmentId" name="SegmentId" value="@Model.SegmentId" />
	<input type="hidden" id="SegmentType" name="SegmentType" value="@Model.SegmentType" />
	<input type="hidden" id="AppointmentId" name="AppointmentId" value="@Model.AppointmentId" />
	<input type="hidden" id="BookingResourceId" name="BookingResourceId" value="@Model.BookingResourceId" />
	<input type="hidden" id="BookingServiceId" name="BookingServiceId" value="@Model.BookingServiceId" />
	<input type="hidden" id="BookingServiceLength" name="BookingServiceLength" value="@Model.BookingServiceLength" />
	<input type="hidden" id="LocationId" name="LocationId" value="@Model.LocationId" />
	<input type="hidden" id="BookingTime" name="BookingTime" value="@Model.BookingTime" />
	<input type="hidden" id="CustomerFirstName" name="CustomerFirstName" value="@Model.CustomerFirstName" />
	<input type="hidden" id="CustomerLastName" name="CustomerLastName" value="@Model.CustomerLastName" />
	<input type="hidden" id="CustomerEmail" name="CustomerEmail" value="@Model.CustomerEmail" />
	<input type="hidden" id="CustomerPhone" name="CustomerPhone" value="@Model.CustomerPhone" />
	<input type="hidden" id="CustomerNote" name="CustomerNote" value="@Model.CustomerNote" />

	<input type="hidden" id="PrevPage" name="PrevPage" value="@Model.PrevPage" />
	<input type="hidden" id="CurrentPage" name="CurrentPage" value="@Model.CurrentPage" />
	<input type="hidden" id="NextPage" name="NextPage" value="@Model.NextPage" />
</form>